//------------------------------------//
//  $ISLAND
//------------------------------------//

// Harry Robert's "island"
.island,
.islet,
.landmark,
.landmarklet {
  display: block;
  > :last-child {
    margin-bottom: 0;
  }
}

.island {
  @include padding-vertical($base-spacing-unit);
}

.island--dubs {
  @include padding-vertical($base-spacing-unit * 2);
}

.islet {
  @include padding-vertical($half-spacing-unit);
}

.landmark {
  margin-bottom: $base-spacing-unit + rem;
}

.landmark--dubs {
  margin-bottom: $base-spacing-unit * 2;
}

.landmarklet {
  margin-bottom: $half-spacing-unit;
}

.landmarkless {
  margin-bottom: 0;
}
