//------------------------------------//
//  $LAYOUT
//------------------------------------//

html {
}

body {
  min-width: $site-min-width;
}

.container {
  max-width: $site-width;
  margin: 0 auto;
}